<h1>Library App</h1> 

 <div ng-controller="LibraryCtrl">

    <form ng-submit="addLibrary()">
      <input type="text" ng-model="newLibrary.title"><br>
      <input type="text" ng-model="newLibrary.owner"><br>
      <button>Save Library</button>
    </form>
    
    <div ng-repeat="library in libraries">
      <h3>{{library.title}}</h3>
      <p>{{library.owner}}</p>
      
      <section ng-controller="BooksCtrl">
         
        <form ng-submit="addBook()">
          <input type="text" ng-model="newBook.title"><br>
          <input type="text" ng-model="newBook.author"><br>
          <input type="text" ng-model="newBook.description"><br>
          <button>Add Book</button>
        </form>
        
        <h2>Books</h2>
        <div ng-repeat="book in library.books">
          <h3>{{book.title}}</h3>
          <p>{{book.author}}</p>
          <p>{{book.description}}</p>
        </div>
      </section>
    </div>
  </div>